[submodule "vendor/zenoh-pico"]
	path = vendor/zenoh-pico
	url = https://github.com/youtalk/zenoh-pico.git
	branch = swift-ros2-main
[submodule "vendor/cyclonedds"]
	path = vendor/cyclonedds
	url = https://github.com/youtalk/cyclonedds.git
	branch = swift-ros2-main
[submodule "vendor/common_interfaces-jazzy"]
	path = vendor/common_interfaces-jazzy
	url = https://github.com/ros2/common_interfaces.git
[submodule "vendor/rcl_interfaces-jazzy"]
	path = vendor/rcl_interfaces-jazzy
	url = https://github.com/ros2/rcl_interfaces.git
[submodule "vendor/unique_identifier_msgs"]
	path = vendor/unique_identifier_msgs
	url = https://github.com/ros2/unique_identifier_msgs.git
[submodule "vendor/common_interfaces-humble"]
	path = vendor/common_interfaces-humble
	url = https://github.com/ros2/common_interfaces.git
[submodule "vendor/example_interfaces-jazzy"]
	path = vendor/example_interfaces-jazzy
	url = https://github.com/ros2/example_interfaces.git
