[submodule "vendor/zenoh-pico"]
	path = vendor/zenoh-pico
	url = https://github.com/youtalk/zenoh-pico.git
	branch = swift-ros2-main
[submodule "vendor/cyclonedds"]
	path = vendor/cyclonedds
	url = https://github.com/youtalk/cyclonedds.git
	branch = swift-ros2-main
[submodule "vendor/common_interfaces-jazzy"]
	path = vendor/common_interfaces-jazzy
	url = https://github.com/ros2/common_interfaces.git
